* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
max-width: 100%;
background-color: steelblue;
height: 200px; 
width: 100%;
overflow: hidden; 
}

.card {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}

.button-holder {
  text-align: center;
}

h3 {
  margin: 0 auto;
}

.youtube-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.container {
  display: flex;
  height: 500px;
  background-color: #ccc;
  flex-flow: row wrap;
  
}

.card-img-top {
  height: 100px;
}

ul {
  list-style: none;
  width: 10000px;
}

li {
  list-style: none;
}

.banner img {
  height: 200px;
  max-width: 25%;
  overflow: hidden;
  float: left;
  flex-wrap: nowrap;
}

#reddit {
  flex: 1;
  order: 1;
  border: 1px solid black;
}

#youtube {
  flex: 3;
  order: 2;
  border: 1px solid red;
}

#wiki {
  flex: 1;
  order: 3;
  border: 1px solid blue;
}

#descriptions{
  border: 1px solid yellow;
}