* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.js-search-form { 
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.js-query {
  text-align: left;
}

h1 {
  color: gray;
  font-size: 120px;
  height: 90%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.banner {
max-width: 100%;
background-color: steelblue;
height: 200px; 
width: 100%;
overflow: hidden; 
}

.card {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
  padding: 10px;
}

.card-body {
  margin: auto;
  top: 50%;
  left: 50%;
}

.card-title {
  text-align: center;
}

.btn-primary {
  margin: auto;
  top: 50%;
  left: 50%;
}

.youtube-video {
  margin: auto;
  top: 50%;
  left: 50%;
}

.button-holder {
  text-align: center;
}

h3 {
  margin: 0 auto;
}


.youtube-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.youtube-container p {
  margin-top: 20px;
}

a {
  text-align: center;
  margin: 20px auto;
}

.container {
  display: flex;
  height: 500px;
  
  flex-flow: row wrap;
  
}

.card-img-top {
  height: 100px;
  margin: auto;
  top: 50%;
  left: 50%;
}

ul {
  list-style: none;
  width: 10000px;
}

li {
  list-style: none;
}

.banner img {
  height: 200px;
  max-width: 25%;
  overflow: hidden;
  float: left;
  flex-wrap: nowrap;
}

#reddit {
  flex: 1;
  order: 1;
}

footer {
  margin-top: 50px;
}

#youtube {
  flex: 3;
  order: 2;
  
}

#wiki {
  flex: 1;
  order: 3;
  
}

#descriptions{
  border: 1px solid yellow;
}